.tc {
    margin-top: 15px;
    font-size: 18px;
    font-family: Georgia, serif;
    background: #f2f7f9;
    display: block;
    background:#ff6600;
	overflow: hidden;
	white-space: nowrap;
    }

#menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 250px;
  font-family: Georgia, serif;
}

#menu .title {
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#main .single-post{margin-right:30px; margin-left:10px;float:left;}

#sidebar,.content-wrap,.main,.primary-menu .mobile-menu,.row,.search-form,.search-submit,.ticker .tickercontainer,.ticker .tickercontainer .mask,.ticker-section{white-space:normal; text-overflow: ellipsis;}
a,abbr,acronym,address,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var
{margin:0;padding:0;border:0;outline:0;font-size:20px;vertical-align:baseline;background:0 0}
body{;background:#f2f7f9; font-family:Georgia, serif;color:#333; display:block; word-wrap: break-word;}
#container,.content-wrap{width:1500px;}
#sidebar{width:300px;float:left;}

#sidebar,.content-wrap,.main,.primary-menu .mobile-menu,.row,.search-form,.search-submit,.ticker .tickercontainer,.ticker .tickercontainer .mask,.ticker-section{white-space:normal; text-overflow: ellipsis;}
#sidebar{width:300px;float:left;}

#box {
  width: 75px;
  height: 75px;
  padding:10px;
  border: 5px solid gray;
  margin:0;
}

.post + .post {
  margin-top: 50px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

.comhead { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }
.comment { font-family:Verdana, Geneva, sans-serif; font-size:  9pt; }


.pre{ display: inline-block; padding: 2px; white-space: pre-wrap; word-wrap: break-word; }
.pre:hover { overflow:auto }
