body {
  font-family: Helvetica;
  font-size: 13px;
}

.tc {
    margin-top: 15px;
    float: left;
    font-size: 18px;
    font-family: Georgia, serif;
    background: #f2f7f9;
    width:500px;
    display: inline-block;
    background:"#f2f7f9";
    }

#menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: Georgia, serif;
}

#menu .title {
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

#content h1, #content h2, #content h3 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  margin: 0;
}

#content h2 {
  margin-top: 2em;
}

#content .byline, #content .byline a, #content .note {
  font-size: 10px;
  color: #aaa;
}

#content p, #content ul {
  color: #333;
  line-height: 18px;
}

#content sup.note {
  display: inline-block;
  margin-top: -5px;
}

#content p.notop {
  margin-top: 0;
}

#content .thanks {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #eee;
  margin-bottom: 4em;
  font-size: smaller;
  color: #777;
}

#content .thanks a {
  color: #777;
}

#content li {
  margin-bottom: 0.7em;
}

#box {
  width: 75px;
  height: 75px;
  padding:10px;
  border: 5px solid gray;
  margin:0;
}

.post + .post {
  margin-top: 50px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

.comhead { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }
.comment { font-family:Verdana, Geneva, sans-serif; font-size:  9pt; }


.pre { display: inline-block; padding: 2px; white-space: pre-wrap; word-wrap: break-word; }
.pre:hover { overflow:auto }
